ul {
  display: grid;
  gap: 24px;
  list-style: none;
}

li {
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
}

li .picture {
  width: 80px;
  height: 80px;
  background: red;
}

li .picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

li strong {
  align-self: flex-start;
}

@media (max-width: 480px) {
  li {
    grid-template-columns: 1fr auto;
  }

  li .picture {
    grid-row: 1 / -3;
    height: 100%;
  }

  li strong {
    grid-column: 2;
  }
}